.best-restaurants {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    max-width: 370px;
    height: 419px;
    background-color: $white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.5s, background-color 0.8s ease-in-out;

    &:hover {
      background-color: $white;
      box-shadow: 0 3px 15px rgba(255, 104, 56, 0.5);
      border-radius: 10px;
    }
  }

  &__title {
    margin-bottom: 45px;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__name {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 1.3;
    padding-left: 20px;
    @extend %Rubik-400;
  }

  &__time {
    position: relative;
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.9;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-right: 115px;

    &::before {
      content: "";
      position: absolute;
      left: 20px;
      top: 0;
      background-image: url('../images/best-restaurants/timer.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 22px;
      height: 22px;
    }
  }

  &__link {
    position: relative;
    padding: 8px 40px;
    background-color: $orange-900;
    border-radius: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 29px;
      top: 8px;
      background-image: url('../images/best-restaurants/arrow-right.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 24px;
    }
  }
}