.footer {
  &__inner {
    display: flex;
    margin-bottom: 38px;
  }

  &__sub {
    max-width: 200px;
    margin-right: 70px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 12px;
  }

  &__form {
    max-width: 200px;
  }

  &__input {
    max-width: 200px;
    margin-bottom: 12px;
    padding: 13px 15px;
    width: 100%;
    height: 44px;
    font-size: 14px;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    outline: transparent;

    &::placeholder {
      font-size: 14px;
      line-height: 1.3;
      color: #C2C2C2;
      opacity: 0.9;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }
  }

  &__btn {
    position: relative;
    padding: 13px 40px 13px 70px;
    font-size: 14px;
    line-height: 1.3;
    background-color: $orange-900;
    color: #fff;
    @extend %Rubik-500;
    transition: color 0.8s, background-color 0.8s, box-shadow 0.8s ease-in-out;

    &:focus {
      color: $orange-900;
      background-color: $seashell;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

      &::before {
        filter: invert(44%) sepia(24%) saturate(5973%) hue-rotate(336deg) brightness(100%) contrast(102%);
      }
    }

    &:hover {
      color: $orange-900;
      background-color: $white;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

      &::before {
        filter: invert(44%) sepia(24%) saturate(5973%) hue-rotate(336deg) brightness(100%) contrast(102%);
      }
    }

    &:active {
      color: $orange-900;
      background-color: $seashell;
      box-shadow: none;

      &::before {
        filter: invert(44%) sepia(24%) saturate(5973%) hue-rotate(336deg) brightness(100%) contrast(102%);
      }
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/footer-icon/subscribe.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 17px;
      height: 16px;
      left: 40px;
      top: 15px;
      transition: color 0.8s, background-color 0.8s, box-shadow 0.8s ease-in-out;
    }
  }

  &__menu {
    column-count: 3;
    margin-right: 50px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
  }

  &__copy {
    position: relative;
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      width: 100%;
      top: 0;
      border-bottom: 1px solid #C2C2C2;
      opacity: 0.2;
    }
  }
}

.address-info {

  &__items {
    margin-bottom: 15px;
  }

  &__item {
    position: relative;
    padding-left: 31px;

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 2;
  }

  &__icon {
    position: absolute;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    left: 0;
    bottom: 4px;

    &--location {
      background-image: url('../images/footer-icon/Location.svg');
    }

    &--tel {
      background-image: url('../images/footer-icon/Calling.svg');
    }

    &--message {
      background-image: url('../images/footer-icon/Message.svg');
    }
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__link {
    position: relative;
    display: block;
    width: 39px;
    height: 39px;
    transition: fill 0.7s, stroke 0.7s ease-in-out;

    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: absolute;
    }

    &--fb {
      &::before {
        width: 39px;
        height: 39px;
        background-image: url('../images/footer-icon/facebook.svg');
      }
    }

    &--tw {
      &::before {
        width: 39px;
        height: 39px;
        background-image: url('../images/footer-icon/twitter.svg');
      }

      &:hover {
        filter: invert(51%) sepia(80%) saturate(1972%) hue-rotate(337deg) brightness(103%) contrast(102%);
      }
    }

    &--insta {
      &::before {
        width: 39px;
        height: 39px;
        background-image: url('../images/footer-icon/instagram.svg');
      }
    }
  }
}