html,
body {
  height: 100%;
}

body {
  font-size: 20px;
  line-height: 1.5;
  font-style: normal;
  color: $dark;
  background-color: $silver-100;
  @extend %Rubik-400;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: transparent;
  border-radius: 5px;
}

.logo {
  outline: transparent;
  transition: opacity 0.5s ease-in-out;

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

}

.section {
  margin: 120px 0;
}

.title {
  font-size: 38px;
  line-height: 1.3;
  @extend %Rubik-500;
  color: $darkBlue-900;
  text-align: center;
}

address {
  font-style: normal;
}