$silver-100: #f9faff;
$silver-200: #ececec;
$orange-900: #ff6838;
$darkBlue-900: #363853;
$gray: #c2c2c2;
$dark: #31352b;

//  styles colors 
$coral: #ff7a50;
$white: #ffffff;
$seashell: #fff2ed;

%Rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%Rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}