.header {
  padding: 60px 0;

  &__top {
    display: flex;
  }

  &__logo {
    position: relative;
    z-index: 5;
    margin-right: auto;
  }

  &-content {
    display: inline-flex;
  }

  &-btn {
    visibility: hidden;
  }

  &-info {
    display: none;
  }
}

.menu {
  display: flex;
  margin-right: 98px;

  &__list:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    font-size: 18px;
    line-height: 1.4;
    color: $dark;
    transition: color 0.3s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $orange-900;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }

    &--current {
      color: $orange-900;
    }
  }
}

.search-form {
  position: relative;
  z-index: 1;
  bottom: 12px;
  margin-right: 20px;
  border-radius: 5px;
  width: 0;
  height: 55px;
  line-height: 55px;
  background-color: $orange-900;
  transition: all 0.5s ease;

  &--active {
    width: 400px;
    transition: all 0.5s ease;
  }

  &__input {
    border: 0;
    width: 0;
    font-size: 14px;
    font-weight: 400;
    outline: transparent;
    background-color: transparent;
    transition: all 0.3s ease;

    &--active {
      width: 70%;
      padding-left: 15px;
      transition: all 0.5s 0.8s ease;
    }
  }

  &__icon {
    position: absolute;
    display: block;
    right: 10px;
    top: 13px;
    width: 30px;
    height: 31px;
    cursor: pointer;
    transition: background-color 0.8s, box-shadow 0.8s ease-in-out;
    border-radius: 5px;

    &:focus {
      background-color: $seashell;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;

      &::before {
        background-color: $dark;
      }
    }

    &:hover {
      background-color: $orange-900;

      &::before {
        background-color: $white;
        transition: background-color 0.8s, box-shadow 0.8s ease-in-out;
      }
    }

    &:active {
      background-color: $seashell;
      box-shadow: none;

      &::before {
        background-color: $darkBlue-900;
      }
    }

    &::before {
      @include pseudo;
      right: 6px;
      bottom: 7px;
      width: 19px;
      height: 19px;
      mask-image: url('../../images/icons/icon-search.svg');
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: $darkBlue-900;
    }
  }

  &__btn {
    display: none;

    &--active {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      font-size: 15px;
      color: $white;
      background-color: $dark;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.btn-cart {
  position: relative;
  bottom: 0;
  width: 30px;
  height: 31px;

  &::before {
    @include pseudo;
    bottom: 8px;
    right: 14px;
    mask-image: url('../../images/icons/icon-cart.svg');
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: $darkBlue-900;
    width: 19px;
    height: 19px;
  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    bottom: 17px;
    right: 4px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    color: $white;
    background-color: $orange-900;
  }
}

.button-cart {

  &:focus {
    background-color: $seashell;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

    &::before {
      background-color: $dark;
    }
  }

  &:hover {
    background-color: $orange-900;

    .btn-cart__num {
      background-color: $white;
      color: $orange-900;
      transition: background-color 0.8s ease-in-out;
    }

    &::before {
      background-color: $white;
      transition: background-color 0.8s, box-shadow 0.8s ease-in-out;
    }
  }

  &:active {
    background-color: $seashell;
    box-shadow: none;

    .btn-cart__num {
      background-color: $orange-900;
      color: $white;
    }

    &::before {
      background-color: $orange-900;
    }
  }
}

@media (max-width: 992px) {
  .lock {
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .header {
    padding: 40px 0;

    &__top {
      align-items: center;
    }

    &-content {
      display: flex;
      order: 1;
      margin-left: 25px;
    }

    // &-btn {
    //   position: relative;
    //   z-index: 10;
    //   width: 30px;
    //   height: 20px;

    //   &::before,
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 2px;
    //     background-color: $darkBlue-900;
    //     transition: transform 0.8s ease-in-out;
    //   }

    //   &--closed::before {
    //     transform: rotate(45deg);
    //     top: 9px;
    //     visibility: visible;
    //   }

    //   &--closed::after {
    //     transform: rotate(-45deg);
    //     bottom: 9px;
    //     visibility: visible;
    //   }
    // }

    &-info {
      position: absolute;
      top: 320px;
      left: -100%;
      z-index: 2;
      display: block;
      padding-left: 20px;
      transition-duration: 2s;

      &--active {
        left: 0;
        transition-duration: 1s;
      }
    }

    &-burger {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 2;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $darkBlue-900;
        transition: transform .4s ease-in-out;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &--active {
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }

      &__line {
        width: 100%;
        height: 2px;
        background-color: $darkBlue-900;
        transition: transform .4s ease-in-out;

        &--active {
          transform: scale(0);
        }
      }
    }
  }

  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    width: 92%;
    height: 100%;
    flex-direction: column;
    padding: 150px 0 0 20px;
    transition-duration: 2s;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      height: 1px;
      width: 100%;
      border-bottom: 1px solid #c2c2c2;
      opacity: 0.2;
    }

    &::before {
      top: 130px;
    }

    &::after {
      top: 300px;
    }

    &__list:not(:last-child) {
      margin-bottom: 25px;
    }

    &--active {
      left: 0;
      height: 100vh;
      background-color: $white;
      transition-duration: 1s;
    }
  }

  .search-form {
    bottom: 5px;
    height: 50px;
    line-height: 50px;

    &--active {
      width: 300px;
    }

    &__input {
      &--active {
        width: 60%;
      }
    }

    &__btn {
      &--active {
        padding: 0 15px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 35px 0;
  }
}

@media (max-width: 576px) {
  .header {
    &-info {
      top: 270px;
    }
  }

  .menu {
    padding-top: 105px;

    &__list {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &::before {
      top: 90px;
    }

    &::after {
      top: 252px;
    }
  }
}

@media (max-height: 576px) and (orientation: landscape) {

  .header {
    padding: 10px 0;

    &-info {
      top: 205px;
    }
  }

  .logo {
    &__img {
      width: 160px;
      height: 25px;
    }
  }

  .lock {
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .menu {
    padding-top: 72px;

    &__list {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__link {
      font-size: 16px;
    }

    &::before {
      top: 65px;
    }

    &::after {
      top: 195px;
    }
  }
}

@media (max-height: 375px) and (orientation: landscape) {

  .header {
    padding: 5px 0;

    &-info {
      top: 190px;
    }
  }

  .logo {
    &__img {
      width: 115px;
      height: 23px;
    }
  }

  .menu {
    padding-top: 65px;

    &::before {
      top: 55px;
    }

    &::after {
      top: 180px;
    }

    &__list {
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }

  .header-info {
    &__item {
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }
}