<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SimpleFood | Главная страница</title>
  <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>
  <h1 aria-label="SimpleFood - Доставка еды"></h1>
  <div class="wrapper">
{% include 'app/module/_header/_header.html' %}

    <main class="main">
    {% include 'app/module/_hero/_hero.html' %}
    {# {% include 'app/module/_popular-categories/_popular-categories.html' %} #}
    {# {% include 'app/module/_stay-home/_stay-home.html' %} #}
    {# {% include 'app/module/_best-restaurants/_best-restaurants.html' %} #}
    {# {% include 'app/module/_reviews/_reviews.html' %} #}
    {# {% include 'app/module/_mobile-app/_mobile-app.html' %} #}
    </main>
    {# {% include 'app/module/_footer/_footer.html' %} #}
    
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="js/main.min.js"></script>
</body>

</html>