.stay-home {

  &__inner {
    display: flex;
    justify-content: space-around;
  }

  &__food-delivery {
    width: 440px;
    height: 585px;
    background-image: url('../../images/stay-home/food-delivery.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 470px;
  }

  &__title {
    text-align: left;
    font-size: 36px;
  }

  &__title,
  &__items {
    margin-bottom: 30px;
  }

  &__text {
    opacity: 0.9;
    margin-bottom: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    padding-left: 64px;
    font-size: 24px;

    &::before {
      content: "";
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 34px;
      height: 34px;
      left: 0;
    }

    &--timer {
      &::before {
        background-image: url('../images/stay-home/timer.svg');
      }
    }

    &--delivery {
      &::before {
        background-image: url('../images/stay-home/delivery.svg');
      }
    }

    &--restaurant {
      &::before {
        background-image: url('../images/stay-home/restaurant.svg');
      }
    }
  }

  &__more {
    align-self: flex-start;
  }
}